#Resume {
	width: 1030px;
	max-width: 100%;
	min-width: 50%;
	z-index: 1;
	
	text-align: left;
	font-size: .8em;
	font-family: Roboto;
	font-weight: 400;
	letter-spacing: .2px;
	line-height: 1.5em;
	box-shadow: 0 0 40px black;
	/* color: #ccc;
	background: #282c34; */
	color: #111;
	background: #eee;
}

#Resume p {
	margin-bottom: 20px;
}

#Resume a {
	text-decoration: none;
	color: inherit;
}

#Resume > p {
	padding: 0 2%;
}

/* Header stuff */
#Resume .header {
	padding: 1px 20px 20px;
	color: #eee;
	background: #373D48;
}

#Resume h1, 
#Resume h2,
#Resume .left-content div {
	font-family: 'Poppins';
}

#Resume h2 {
	font-size: 1.3em;
}

#Resume .header pre {
	white-space: nowrap;
	margin: 5px 0;
	font-weight: 300;
}

/* Body stuff */
#Resume .body {
	margin-top: 30px;
}

#Resume .snippet {
	display: flex;
}

/* Left stuff */
:root {
	--color: #39c339;
}

#Resume .left {
	position: relative;
	min-width: 30%;
	padding: 25px 0;
}

#Resume .left-content {
	display: flex;
	position: sticky;
	top: 30px;
	white-space: nowrap;
}

#Resume .bar {
	position: absolute;
	width: 30px;
	height: 100%;
	left: 0;
	top: 0;
	border-right: 1px solid var(--color);
}

#Resume .left-content svg {
	width: 60px;
	height: 60px;
}

#Resume .left-content svg rect {
	width: 34px;
	height: 34px;
	x: 12.5px;
	y: 12.5px;
	fill: #eee;
	stroke: var(--color);
	transform-box: fill-box;
	transform-origin: center;
	transform: rotate(45deg);
}

#Resume .left-content svg.icon {
	position: absolute;
	left: 19px;
	width: 22px;
}

#Resume .left-content div {
	line-height: 60px;
	white-space: initial;
}

/* Right stuff */
#Resume .right {
	padding: 30px;
}

#Resume .right article {
	margin-bottom: 40px;
}

#Resume .right p {
	margin: 10px 0;
}

#Resume .right small {
	color: #444;
}

#Resume .right ul {
	margin: 2% 0;
}

#Resume .right li::marker {
	color: var(--color)
}