.App {
  min-height: 100vh;
  padding: 10px;
  
  text-align: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Poppins';
  font-weight: 200;

  color: white;
  background-color: #282c34;
}

.App-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.width1000 {  
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  border-radius: 10px;
}